<div id="home-page" class="flex justify-between">
    <div class="w-2/12">
        <div class="message-board flex-col">
            <div class="flex items-center justify-between message-board_header bg-whitesmoke px-2">
                <h3 class="text-base">Daily Greeting</h3>
                <span class="date text-xs">03/17/2020</span>
            </div>
            <div class="message-board_body p-2">
                <p class="text-sm">Hello from the crypoclopse crew. Today there are some things goind on. Tomorrow, there are some other things going on.</p>
            </div>
        </div>
    </div>
    <div class="pb-16 w-6/12">
        {{ collection:articles | group_by="date" | limit:1 }}
            {{ partial:blog/article_preview_hero }}
        {{ /collection:articles}}
        {{ taxonomy:categories }}
            <div class="bg-gray-200">
                <h2 class="inline-block text-4xl font-display border-b-4 border-blue">{{ title }}</h2>
            </div>
            <h3 class="text 1-lg mb-8">{{content}}</h3>
            <div class="flex">
                {{ entries | limit:3 }}
                    {{ partial:blog/article_preview }}
                {{ /entries }}
            </div>
        {{ /taxonomy:categories }}
    </div>
    <div class="w-3/12">
        {{ collection:articles taxonomy_tags:contains="featured" }}
            <article class="top-category border border-grayborder mb-5">
                <div class="flex justify-between items-center bg-whitesmoke py-2 px-3">
                    <h4 class="font-display font-bold">{{ title }}</h4>
                    <p class="text-xs text-blue">Category Name</p>
                </div>
                <div class="p-3">
                    <p>This is the article content. Content will go here and stuff and things.</p>
                    <span class="author text-xs mr-3"><strong>Kevin Grant</strong></span>
                    <span class="date text-xs">11/23/2300</span>
                </div>
            </article>
        {{ /collection:articles }}
    </div>
</div>
