<div id="home-page" class="flex justify-between">
    <div class="w-1/12">
        <div class="message-board flex-col">
            <h3 class="text-sm font-semibold">Daily Greeting</h3>
            <div class="date text-xs text-gray mb-2">04/05/2021</div>
            <p class="text-sm">Greetings crypto enthusiasts, noobs, and investors! I am the Cryptoclopse - a gnarly beast here to rumble and grumble about the latest inthe crypto market. Bare with me as I build a killer website designed to provide you a bespoke look into the world of crypto!</p>
        </div>
    </div>
    <div class="pb-16 w-8/12">

        <!-- HERO -->
        <section class="mb-12">
        {{ collection:articles sort="date:desc" limit="1" }}
            {{ partial:blog/article_preview_hero }}
        {{ /collection:articles }}
        </section>

        <!-- RECENT ARTICLES -->
        <div class="border-t border-b border-grayborder">
            {{ partial:blog/recent_articles }}
        </div>

        <!-- CATEGORIES: Innovative Applications -->
        <section>
            <div class="my-12">
                <h1 class="inline-block mb-4 text-4xl uppercase font-display border-b-4 border-blue">Innovative Applications</h1>
            </div>
            
            {{ collection:articles category:is="innovative-applications" limit="3" }}
                <div class="flex">
                    {{ partial:blog/article_preview }}
                </div>
            {{ /collection:articles }}
        </section>
        
    </div>
    <div class="w-2/12">
        {{#
            {{ collection:articles taxonomy_tags:contains="featured" }}
                <article class="top-category border border-grayborder mb-5">
                    <div class="flex justify-between items-center bg-whitesmoke py-2 px-3">
                        <h3 class="font-display font-bold">{{ title }}</h3>
                        <p class="text-xs text-blue">Category Name</p>
                    </div>
                    <div class="p-3">
                        <p>This is the article content. Content will go here and stuff and things.</p>
                        <span class="author text-xs mr-3"><strong>Kevin Grant</strong></span>
                        <span class="date text-xs">11/23/2300</span>
                    </div>
                </article>
            {{ /collection:articles }}
        #}}

        <!-- Amazon Affiliate -->
        <div class="my-8">
            <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=8&l=ez&f=ifr&linkID=83b593e6551770e5c8894f62bd89d223&t=grantcreati06-20&tracking_id=grantcreati06-20" width="120" height="240" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
    </div>
</div>