<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/tailwind.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-69KCGHMZ3L"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-69KCGHMZ3L');
    </script>
</head>
<body class="text-black text-lg">
    <header class="fixed top-0 w-screen z-10">
        
        <!-- Header -->
        <div class="header-main bg-white">
            <div class="container px-4 flex items-center justify-between">
                <div class="flex items-center">
                    <a href="/">
                        <img class="w-60 mr-4 py-2" src="https://cryptoclopse.s3-us-west-1.amazonaws.com/logo.png" alt="cryptoclopse blog logo">
                    </a>
                    <p class="bg-tomato text-white rounded-3xl px-2 py-0 text-sm">Digesting the Crypto Market</p>
                </div>
                <div class="flex items-center">
                    <ul class="flex h-12 text-sm">
                        <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                          </svg>
                        {{ nav:main_nav }}
                            <li class="flex items-center"><a class="d-flex px-3" href="{{ url }}">{{ title }}</a></li>
                        {{ /nav:main_nav }}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Category Nav -->
        {{ partial:nav/categories }}
        
    </header>
    <div class="container flex mt-32 px-4">
        {{ template_content }}
    </div>
    <div id="coord-x" class="coord infline-flex flex-col items-center">
        <span>x:238</span>
    </div>
    <div id="coord-y" class="coord inline-flex items-center">
        <span>y:238</span>
    </div>
    <footer class="p-3 bg-whitesmoke">
        <div class="footer-main flex">
        </div>
        <div class="footer-meta flex">
            <p class="text-xs">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Cryptoclopse</p>
        </div>
    </footer>
</body>
</html>