<div id="page_starter-guide" class="mt-32">
    <div class="mx-32">

        {{# Header #}}
        <div class="text-center mb-8">
            <h1 class="mb-2">Crypto Starters Guide</h1>
            <h2 class="text-xl mb-6">Follow these <span class="bg-blue text-white px-2 py-1 rounded">three simple steps</span> and start investing in crypto today!</h2>
            <p>Investing in a new market that you know nothing about is scary, especially if you are new to investing. Follow this simple guide in which we have currated the most simple and industry-accepted avenues to accessing the crypto highway.</p>
            {{# <div class="flex justify-center text-xs text-gray max-w-xl">
                <span class="mr-1">*</span>
                <p>This guide is not financial advice. It is intended to be a starting point for people are a new to cryptocurrency trading.</p>
            </div> #}}
        </div>

        {{# Preview #}}
        <div class="flex items-center justify-center mb-8">
            <div class="flex flex-col items-center p-8">
                <div class="relative flex items-center justify-center rounded text-white h-24 w-24 bg-blue mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <div class="absolute top-1 left-1 flex items-center justify-center font-semibold text-blue rounded-full bg-white text-xs h-4 w-4">1</div>
                </div>
                <h3>Exchange</h3>
            </div>
            <div class="flex flex-col items-center p-8">
                <div class="relative flex items-center justify-center rounded text-white h-24 w-24 bg-blue mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
                        <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
                    </svg>
                    <div class="absolute top-1 left-1 flex items-center justify-center font-semibold text-blue rounded-full bg-white text-xs h-4 w-4">2</div>
                </div>
                <h3>Wallet</h3>
            </div>
            <div class="flex flex-col items-center p-8">
                <div class="relative flex items-center justify-center rounded text-white h-24 w-24 bg-blue mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
                        <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
                      <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
                    </svg>
                    <div class="absolute top-1 left-1 flex items-center justify-center font-semibold text-blue rounded-full bg-white text-xs h-4 w-4">3</div>
                </div>
                <h3>Staking</h3>
            </div>
        </div>

        {{# Step 1 #}}
        <div class="crypto-guide_row py-8">
            <div class="max-w-xl">
                <span class="badge">#1 badge</span>
                <h3>Crypto Exchange</h3>
                <p>The first and most important service you will need to trade cryptocurrencies is an exchange. Select from the following top exchanges that fits you and follow the signup process on their site:</p>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex">
                    <a href="https://accounts.binance.us/en/register?ref=53119114" target="_blank" class="crypto-guide_card rounded-md bg-white p-4 shadow-md">
                        <div class="emblem">
                            <span>emblem</span>
                        </div>
                        <div class="title">
                            <h4>Binance.US</h4>
                            <div class="text-xs text-gray"></div>
                        </div>
                        <div class="description">
                            <p>Binance.US is just Binance for U.S. citizens.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {{# Step 2 #}}
        <div class="crypto-guide_row py-8">
            <div class="max-w-xl">
                <span class="badge">#2 badge</span>
                <h3>Crypto Wallet</h3>
                <p>While its ok to temporarily hold your funds in an exchange, a wallet is the safest and most versatile option for storing cryptocurrency. A wallet is simply an interface for you to interact with various blockchains. Each wallet has it's own flavor, so its good to start with the one that fits your goals:</p>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex"></div>
            </div>
        </div>

        {{# Step 3 #}}
        <div class="crypto-guide_row py-8">
            <div class="max-w-xl">
                <span class="badge">#3 badge</span>
                <h3>Crypto Staking</h3>
                <p>Now that you are up and running with your favorite exchange and trusty new wallet, let's explore how you can "stake" your cryptocurrencies and start earning more everyday. Staking simply means locking up your cryptocurrency in a liquidity pool to provide continuity to the network. When you stake your coins, you will earn a percentage of the crypto you have locked up. Think of it like dividends, but your returns come at a much faster rate.</p>
                <p>Staking can be done on wallets AND exchanges. Not all coins can be staked and each stakeable coin varies in percentage and reward. Checkout the options below to start staking now:</p>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex">
                    <h4>Binance.us</h4>
                    <p>Binance.us offers staking a</p>
                    <a href="#">Stake on Binance</a>
                </div>
                <div class="flex">
                    <h4>Trustwallet</h4>
                </div>
            </div>
        </div>

        {{# Bonus Step #}}
        {{# <div class="crypto-guide_row flex items-start">
            <div>
                <span class="badge">badge</span>
                <h3>Crypto Exchange</h3>
                <p></p>
            </div>
            <div class="flex items-center justify-between">
                <div class="flex"></div>
            </div>
        </div> #}}
    </div>
</div>