:root {

  /* Fonts */
  --display: "Fjalla One";

  /* Colors */
  --blue: #07adef;
}

h1, h2, h3, h4 , h5, h6 {
  font-family: var(--display);
  margin: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

#coinmarketcap-widget-marquee {
  position: fixed;
  bottom: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom left, transparent, transparent, rgba(0,0,0,0.5), rgba(0,0,0,1));
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

/* ARTICLES */
.article-content h4 {
  color: var(--blue);
}

.article-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}