:root {

  /* Fonts */
  --display: "Fjalla One";

  /* Colors */
  --blue: #07adef;
  --blueDark: #065677;
  --tableHeader: #e8e8e8;
}

h1, h2, h3, h4 , h5, h6 {
  font-family: var(--display);
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

#coinmarketcap-widget-marquee {
  position: fixed;
  bottom: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom left, transparent, transparent, rgba(0,0,0,0.25), rgba(0,0,0,.5));
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

/* ARTICLES */
.article-content h4 {
  color: var(--blue);
}

.article-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
  padding: 1rem 0;
}

.article-content blockquote {
  padding: 1rem;
  margin-bottom: 2rem;
  background: whitesmoke;
  border-radius: .25rem;
}

.article-content blockquote p {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
}

.article-content blockquote p:last-of-type {
  margin: 0;
}

/* ARTICLES: Table */
.article-content table {
  background: white;
  border-radius: .25rem;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.article-content tbody {
  border: 1px solid lightgray;
}

.article-content tr:first-of-type {
  background: whitesmoke;
} 

.article-content td {
  border: 1px solid lightgray;
  padding: .25rem .5rem;
}

.article-content table p {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 991px) {

  h2 {
    font-size: 3.75rem;
  }
  
  h3 {
    font-size: 3.25rem;
  }
  
  h4 {
    font-size: 2.75rem;
  }

  .article-content p {
    font-size: 2.5rem;
  }
}

/* FOOTER */
footer #mc_embed_signup {
  background: none;
}

footer #mc_embed_signup form {
  padding: 0;
}

footer #mc_embed_signup label {
  display: none;
}

footer #mc_embed_signup input.button {
  background: var(--blueDark);
  color: white;
  font-family: 'Karla';
  font-size: 1rem;
  font-weight: 600;
  padding: .75rem 2rem;
  height: auto;
  width: auto;
  line-height: 1;
}

footer #mc_embed_signup input.button:hover {
  background: white;
  color: var(--blueDark);
}

footer #mc_embed_signup input.email {
  width: 100%;
  font-size: 1rem;
  padding: .75rem;
  border: none;
  margin-bottom: 1rem;
}

footer #mc_embed_signup input.email::placeholder {
  font-size: .9rem;
}