<div class="bg-whitesmoke text-xs font-medium mb-4 mt-32">
  <div class="flex text-center m-auto w-2/3 pt-3">
      <p class="text-gray flex-shrink-0 mr-3"><strong>Teeny tiny disclaimer:</strong></p>
      <p class="text-grayBody text-left">Nothing on this site is financial advice. In fact, I think you will find that we are actually morons. The combination on my luggage is '12345'. The content within this site consists of information, opinion, and satire. DO NOT manage your money based on stuff you read here.</p>
  </div>
</div>