<article class="top-category mb-6 pb-4 border-b border-grayborder">
  <a href="{{ url }}">
    <img class="mb-2" src="{{ featured_image }}" alt="{{ featured_image:alt }}">
  </a>
  <a href="{{ url }}">
    <h3 class="font-display font-bold text-base text-black mb-2">{{ title }}</h3>
  </a>
    <div class="flex items-center justify-between">
        <span class="author text-sm text-gray"><strong>{{ author:title }}</strong></span>
        <span class="date text-sm text-gray">{{ date }}</span>
    </div>
</article>