<article class="flex justify-between mb-12 pb-8 border-b border-grayborder border-1">

  <!-- DATA -->
  <div class="w-4/6">
    <a href="{{ url }}">
      <h2 class="mb-2 max-w-md text-2xl font-semibold text-blacksmoke">{{ title }}</h2>
    </a>
    <a href="{{ url }}">
      <p class="mb-4 text-base text-gray">{{ preview }}</p>

    </a>
    {{ partial:widgets/meta display="flex items-center" }}
  </div>

  <!-- IMAGE -->
  <div class="w-2/5">
    <a href="{{ url }}" class="relative mb-1 rounded-sm">
      <img src="{{ featured_image }}" alt="">
    </a>
  </div>
</article>