<div class="container flex justify-between py-8">
  <article class="w-9/12">
    <h1 class="mb-4 font-display text-5xl">{{ title }}</h1>
    <div class="flex items-center mb-6">
      <div class="flex mr-8">
        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
        <div>{{ author:title }}</div>
      </div>
      <div class="flex items-center {{ if display }}mr-6{{ /if }}">
        <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div>{{ date }}</div>
      </div>
    </div>
    <figure class="mb-6">
      <img src="{{ featured_image }}" alt="">
      <figcaption class="text-gray text-sm"></figcaption>
    </figure>
    <div class="flex">
      <ul class="w-1/2 p-4">
        <h3 class="font-semibold text-2xl mb-2">Key topics in article:</h3>
        {{ key_points }}
          <li class="flex items-center text-xl p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path class="fill-current text-tomato" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
              <path class="fill-current text-white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
            {{ value }}
          </li>
        {{ /key_points}}
      </ul>
      <ul class="p-4">
        <h3 class="font-semibold text-2xl mb-2">Cryptocurrencies:</h3>
        {{ collection:crypto_brands }}
          <li class="px-2 py-4 flex items-center">
            <div class="mr-4 w-12">
              {{ logo }}
            </div>
            <a href="" class="hover:underline">
              <div class="text-base font-semibold">Coin Name</div>
              <p class="text-sm text-gray">Small description of coin used</p>
            </a>
          </li>
        {{ /collection:crypto_brands }}
      </div>
    </ul>
    <div class="py-4">
      {{ content }}
    </div>
  </article>
  <div class="w-2/12">
    
  </div>
</div>