<div class="lg:container flex flex-col lg:flex-row justify-between py-8">
  <article class="w-full lg:w-8/12">
    <h1 class="mb-4 font-display text-5xl leading-tight">{{ title }}</h1>
    <div class="flex items-center justify-between mb-4 text-base">
      <div class="flex items-center">
        <div class="relative w-12 h-12 mr-3 bg-blue rounded-full border border-white overflow-hidden">
            <img src="{{ author:photo }}" alt="{{ author:photo:alt }}">
        </div>
        <div>
          <div class="flex items-center">
            <div><strong>{{ author:title }}</strong></div>
          </div>
          <div class="flex items-center">
            <div class="text-gray text-sm"><strong>{{ date }}</strong></div>
          </div>
        </div>
      </div>
      <div class="flex">
        <ul class="flex items-center">
          <li class="ml-2"><a href="#">{{ svg src="chat" class="w-6 text-gray" }}</a></li>
          <li class="ml-2"><a href="#">{{ svg src="alert" class="w-6 text-gray" }}</a></li>
        </ul>
        <ul class="flex items-center">
          <li class="ml-2"><a href="{{ social_links:facebook }}">{{ svg src="facebook" class="fill-current text-blue w-6" }}</a></li>
          <li class="ml-2"><a href="{{ social_links:twitter }}">{{ svg src="twitter" class="fill-current text-blue w-6" }}</a></li>
          <!-- email -->
          <!-- copy article link -->
        </ul>
      </div>
    </div>
    <figure class="mb-2">
      <img src="{{ featured_image }}" alt="{{ featured_image:alt }}" class="w-full">
      <div class="flex items-center justify-between">
        <figcaption class="text-gray text-md py-2 w-7/12">{{ featured_image:caption }}</figcaption>
        <div class="w-4/12 flex items-center justify-end">
          {{ if featured_image:photographer }}
            <strong class="mr-2">Photographer:</strong>
            <a href="{{ featured_image:photographer_link }}" class="hover:underline">{{ featured_image:photographer }}</a>
          {{ /if }}
        </div>
    </figure>
    <div class="flex flex-col sm:flex-row justify-between mb-4 border-b border-grayborder">
      <ul class="w-full sm:w-4/12 py-4">
        <h3 class="font-semibold text-2xl mb-2">Key topics in article:</h3>
        {{ key_points }}
          <li class="flex text-xl py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path class="fill-current text-tomato" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
              <path class="fill-current text-white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
            {{ value }}
          </li>
        {{ /key_points}}
      </ul>
      <ul class="w-full sm:w-7/12 p-4">
        <h3 class="font-semibold text-2xl mb-2">Featured Crypto:</h3>
        {{ crypto_brands }}
          <li class="py-2 flex items-center">
            <div class="mr-4 w-12 flex-shrink-0">
              {{ partial:components/coin where="article" }}
            </div>
            <a href="{{ brand_link }}" class="hover:underline">
              <div class="text-base font-semibold">{{ title }}</div>
              <div class="text-sm text-gray">{{ description }}</div>
            </a>
          </li>
        {{ /crypto_brands }}
      </div>
    </ul>
    <div class="py-8">
      <div class="article-content">
        {{ content }}
      </div>
      <div class="my-12">
        <!-- Amazon Affiliate: Cryptoclopse Home A -->
        <div id="amzn-assoc-ad-65128ce6-660a-44f7-82dd-9565ad533b38"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=65128ce6-660a-44f7-82dd-9565ad533b38"></script>
      </div>
    </div>
  </article>
  <div class="w-2/12">
    
  </div>
</div>